<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyzd.client.mapper.DeptMapper">
    <resultMap id="BaseResultMap" type="com.lyzd.entity.Dept">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="department" column="department" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,department
    </sql>
    <select id="getAll" resultType="com.lyzd.entity.Dept">
        select *from dept
    </select>
</mapper>
